{
    "env": {
        "development": {
            "presets": [
                ["env", { "targets": {
                    "chrome": 58,
                    "firefox": 53
                }}]
            ]
        },
        "production": {
            "presets": [
                ["env", { "targets": {
                    "chrome": 58,
                    "firefox": 53,
                    "uglify": true
                },
                "modules": false,
                "useBuiltIns": true
            }]]
        }
    }
}

